@{
    ViewBag.Title = "Home Page";

}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With Vivi</p>
        </div>
    </div>

</header>
@if (ViewBag.Message != null)
{
    <div class="alert alert-danger justify-content-lg-end" role="alert" id="#messageAlert">
        @ViewBag.Message

    </div>
}
<section class="py-5" style="padding-right:200px">


    <div class="container px-4 px-lg-5 mt-5">

        <div class="row gx-4 gx-lg-5">
            <div class="col md-3">
                <div class="card mb-4">

                    <div class="card-header text-center"style="background-color: #212529;color:#ffffff">
                        <h5 class="card-title">Price </h5>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("ProductsByPrice", "Home", FormMethod.Get))
                        {
                            <div class="mb-3">
                                <label class="form-label">Min Price (₦)</label>
                                <input class="form-control" name="minprice" type="number" min="0" value="0.00" step="0.01" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Max Price (₦)</label>
                                <input class="form-control" name="maxprice" type="number" min="0" value="0.00" step="0.01" />
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-outline-dark" style="background-color: #212529; color: white;">Apply Filter</button>
                            </div>
                        }
                    </div>
                </div>

            </div>
            <div class="col-md-9">

                <div class="row-cols-2 row-cols-md-3 row-cols-xl-4" style="display:flex;flex-wrap:wrap;column-gap:80px;row-gap:10px">


                    @foreach (var product in ViewBag.product)
                    {

                        <div class="col mb-0">
                            <div class="card h-100" style="transition: transform 0.3s, box-shadow 0.3s; border-radius: 10px; overflow: hidden;width:140%">

                                <div class="card-body d-flex flex-column" style="height: 100%; display: flex; flex-direction: column; padding: 20px">

                                    @if (product.stock == 0)
                                    {
                                        <div class="badge position-absolute " style="border-radius: 50px; background-color: #CC021C; padding: 5px 10px;">Sold Out</div>
                                    }
                                    else
                                    {
                                        <div class="badge position-absolute " style="border-radius: 50px; background-color: #F6E9D5; color: #D69C45;  ">@product.stock in Stock</div>
                                    }
                                    <img class="card-img-top product-img" src="@product.imagepath" alt="..." style="max-width: 100%;max-height: 200px; object-fit: cover; " />

                                    <!-- Product details-->
                                    <div class="card-body p-2 flex-grow-1">
                                        <div style="line-height:1.9em">
                                            <!-- Product name-->
                                            <div class="d-flex align-items-center">
                                                <h5 class="fw-bolder text-uppercase " style="font-size: 18px; margin: 0px;overflow:hidden; text-overflow: ellipsis; white-space: nowrap;">
                                                    @product.Name
                                                </h5>
                                                @if (product.Discount_Price != 0)
                                                {
                                                    <span class="badge rounded-pill bg-dark" style="font-size:10px;margin-left:5px">Sale</span>
                                                }
                                            <div class="d-flex align-items-center">
                                                <i class="bi bi-heart" name="heartIconOutline_@product.Name" style="color: #CC021C; padding-left: 50px;"></i>
                                                <i class="bi bi-heart-fill" name="heartIconFilled_@product.Name" style="color: red; padding-left: 50px; display: none;"></i>
                                            </div>


                                            </div>
                                            <!-- Product price-->
                                            @if (product.Discount_Price != null)
                                            {
                                                <div style="display:flex;gap:8px">
                                                    <label class="fw-bolder"> ₦@product.Discount_Price <span class="fw-light"><s>₦@product.price</s></span></label>

                                                </div>


                                            }
                                            else
                                            {
                                                <label class="fw-bolder">  ₦ @product.price</label>

                                            }
                                        </div>

                                    </div>
                                    <!-- Product actions-->
                                    @if (product.stock != 0)
                                    {
                                        <div style="margin-top: -1px; margin-bottom: -30px; margin-left: -30px; margin-right: -30px;">
                                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                                <div class="d-grid gap-2">
                                                    <a class="btn btn-light mt-auto text-center" style="background-color: #212529;color:#ffffff; margin-top: auto;" href="@Url.Action("Item_Details", "Home", new { slug = product.slug, categoryid = product.CategoryID })">View Details</a>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                    else
                                    {
                                        <div></div>
                                    }

                                </div>


                            </div>
                        </div>


                    }
                </div>

            </div>

        </div>
    </div>


</section>
<div class="row">
    <div class="col-lg-12">
        <nav aria-label="Product Pagination">
            <ul class="pagination justify-content-center">
                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>




