@model IEnumerable<Online_Shopping.Resources.PurchaseResource>

@{
    ViewBag.Title = "PurchaseList";
    Layout = "~/Views/Shared/_LayoutList.cshtml";

}


<div class="container-fluid px-5">

    <br />
    <div class="page-header">
        <div class="page-title">
            <i class="fas fa-table me-1"></i>

            <h4>Purchase List</h4>
            <h6>Manage your Purchase</h6>
        </div>
    </div>
    <div class="card">
        <div class="card-body">


            <div class="table-responsive">
                <table class="table datanew ">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Supplier</th>
                            <th>Total</th>
                            <th>Documented By</th>
                            <th></th>
                            <th></th>


                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(c => item.PurchaseDate)</td>

                                <td>@Html.DisplayFor(c => item.Supplier.Name)</td>
                                <td>@Html.DisplayFor(c => item.Total)</td>
                                <td>@Html.DisplayFor(c => item.Created_By)</td>
                                <td>
                                    <a class="me-3" href="@Url.Action("PurchasedProducts", "Admin", new {id=item.Id})">
                                        <img src="~/Content/icons/eye.svg" alt="img">
                                    </a>


                                </td>

                               
                            </tr>



                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




